* {
    background-color: lightblue;
}

h1 {
    color: red;
    text-align: center;
    /*background-color: blue;*/
}

p {
    text-align: center;
    padding: 50px;
}

img {
    /*height: auto;*/
    /*width: auto;*/
    max-height: 200px;
    max-width: 200px;
}