body {
    background-color: lightblue;
}

h1 {
    color: red;
    text-align: center;
    /*background-color: blue;*/
}

p {
    text-align: center;
    padding: 50px;
}

img {
    /*height: auto;*/
    /*width: auto;*/
    max-height: 200px;
    max-width: 200px;
}

.anime {
    position: relative;
    margin-left: 40px;
}

#explosion {
    position: relative;
    /*margin-right: 40px;*/
    /*margin-left: 40px;*/
    height: 200px;
    max-height: 300px;
}

#ragna {
    position: absolute;
    left:20px;
}