* {
    text-align: center;
}

body {
    background-color: lightblue;
}

h1 {
    color: red;
    text-align: center;
    font-family: "bangers";
    font-size: 70px;
    margin: 0;
    padding-bottom: 20px;
}

p {
    text-align: center;
    padding: 0, 50px;
    font-family: "orbitron";
    font-size: 20px;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 70px;
}

h2 {
    font-family: "bangers";
}

img {
    max-height: 300px;
    max-width: 300px;
}

.anime {
    position: relative;
    margin-right: 80px;
    display: inline;
}

#explosion {
    position: relative;
    height: 300px;
    max-height: 300px;
}

#ragna {
    position: absolute;
    left:20px;
}

.reality {
    position: relative;
    display: inline;
}

#earth {
    position: relative;
    left: 80px;
}

#falcon {
    position: absolute;
    left: 75px;
    height: 300px;
}

div.comment {
    max-width: 600px;
    margin: 0 auto;
}

span.comment {
    text-align: center;
}

textarea {
    width: 500px;
    height: 50px;
}

#profile_icon {
    max-height: 55px;
    float: left;
}

hr {
    margin-top: 50px;
}
